<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- Appenders -->
	<appender name="sysout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.TTCCLayout" />
		<filter class="org.apache.log4j.varia.LevelMatchFilter">
			<param name="levelToMatch" value="debug" />
		</filter>
	</appender>
  <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
    <param name="maxFileSize" value="10MB" />
    <param name="maxBackupIndex" value="10" />
     <param name="Append" value="true" />
    <param name="File" value="server.log"/>
    <layout class="org.apache.log4j.PatternLayout">
    <param name="ConversionPattern" value="[%-5p] %d(%r) --> [%t] %l: %m %x %n" />
    </layout>
  </appender>
	<!-- Loggers -->
	<logger name="practices.rpc.server.ServerBootstrap">
		<level value="DEBUG" />		
	</logger>
					
	<root>
		<level value="debug" />
		<appender-ref ref="sysout" />
		<appender-ref ref="fileAppender"/>
	</root>
</log4j:configuration>