<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- Appenders -->
   <appender name="sysout" class="org.apache.log4j.ConsoleAppender">
     <layout class="org.apache.log4j.TTCCLayout" />
     <filter class="org.apache.log4j.varia.LevelMatchFilter">
       <param name="levelToMatch" value="DEBUG" />
     </filter>
  </appender>  
   <!-- Loggers -->
  <logger name="org.apache.zookeeper.ClientCnxn" additivity="false">
     <level value="INFO" />
  </logger>
  <logger name="com.github.ibole.microservice.metrics.ClientMetrics" additivity="false">     
    <level value="DEBUG" />   
  </logger>    
  <root>
    <level value="DEBUG" />
    <appender-ref ref="sysout" />
   </root>
</log4j:configuration>